		</main>
		<div class="bar-divider container"></div>
		<footer class="wrapper">
			<div class="container">
				<p>Find me at: <a href="https://profiles.wordpress.org/xkon" target="_blank">WordPress.org</a>, <a href="https://github.com/mrxkon"  target="_blank">GitHub</a>.</p>
				<p>&therefore; {{ site.time | date: '%Y' }} <a href="{{ site.site_url }}">xkon.dev</a> - <a href="{{ site.site_url }}/privacy-policy/">Privacy Policy</a> - <a id="dark-toggler" href="javascript:void(0)" onClick="toggleDarkMode()" data-dark="false">Turn dark mode ON</a>.</p>
			</div>
		</footer>
		<script>document.addEventListener("DOMContentLoaded",function(){for(var e=document.getElementsByTagName("a"),t=e.length,n=0;n<t;n++)if(e[n].hasAttribute("target")){e[n].getAttribute("target");"_blank"&&(nw=document.createElement("span"),nw.classList.add("screen-reader-text"),nw.innerHTML=", opens in a new window",e[n].appendChild(nw))}});</script>
		<script>function toggleDarkMode(){var e=document.getElementById("dark-toggler");"false"===e.getAttribute("data-dark")?(e.setAttribute("data-dark","true"),e.innerHTML="Turn dark mode OFF",document.body.classList.add("dark"),window.localStorage.setItem("xkondevDarkMode","yes")):(e.setAttribute("data-dark","false"),e.innerHTML="Turn dark mode ON",document.body.classList.remove("dark"),window.localStorage.setItem("xkondevDarkMode","no"))}function siteIsDarkMode(){return"yes"===window.localStorage.getItem("xkondevDarkMode")?isDarkMode=!0:"no"===window.localStorage.getItem("xkondevDarkMode")&&(isDarkMode=!1),isDarkMode}function DarkMode(){var e=document.getElementById("dark-toggler"),t=siteIsDarkMode();t?document.body.classList.add("dark"):document.body.classList.remove("dark"),e&&t&&(e.setAttribute("data-dark","true"),e.innerHTML="Turn dark mode OFF")}DarkMode();</script>
	</body>
</html>
