		</main>
		<div class="bar-divider container"></div>
		<footer class="wrapper">
			<div class="container">
				<p>Find me at: <a href="https://profiles.wordpress.org/xkon" target="_blank">WordPress.org</a>, <a href="https://github.com/mrxkon"  target="_blank">GitHub</a>, <a href="https://www.facebook.com/xkon.gr/" target="_blank">Facebook</a>.</p>
				<p>&therefore; {{ site.time | date: '%Y' }} <a href="{{ site.site_url }}">xkon.dev</a> - <a href="{{ site.site_url }}/privacy-policy/">Privacy Policy</a> - <a id="dark-toggler" href="#" onClick="toggleDarkMode();" data-dark="false">Turn dark mode ON</a>.</p>
			</div>
		</footer>
		{% if page.url contains '/tutorials/' %}
		<script src="{{ site.site_url }}/js/prism.js"></script>
		{% endif %}
		<script>document.addEventListener("DOMContentLoaded",function(){for(var e=document.getElementsByTagName("a"),t=e.length,n=0;n<t;n++)if(e[n].hasAttribute("target")){e[n].getAttribute("target");"_blank"&&(nw=document.createElement("span"),nw.classList.add("screen-reader-text"),nw.innerHTML=", opens in a new window",e[n].appendChild(nw))}});</script>
		<script>
			function toggleDarkMode() {
			var toggler = document.getElementById( 'dark-toggler' );

			if ( 'false' === toggler.getAttribute( 'data-dark' ) ) {
				toggler.setAttribute( 'data-dark', 'true' );
				toggler.innerHTML = 'Turn dark mode OFF';
				document.body.classList.add( 'dark' );
				window.localStorage.setItem( 'xkondevDarkMode', 'yes' );
			} else {
				toggler.setAttribute( 'data-dark', 'false' );
				toggler.innerHTML = 'Turn dark mode ON';
				document.body.classList.remove( 'dark' );
				window.localStorage.setItem( 'xkondevDarkMode', 'no' );
			}
		}

		function siteIsDarkMode() {
			if ( 'yes' === window.localStorage.getItem( 'xkondevDarkMode' ) ) {
				isDarkMode = true;
			} else if ( 'no' === window.localStorage.getItem( 'xkondevDarkMode' ) ) {
				isDarkMode = false;
			}

			return isDarkMode;
		}

		function DarkMode() {
			var toggler = document.getElementById( 'dark-toggler' ),
				isDarkMode = siteIsDarkMode();

			if ( isDarkMode ) {
				document.body.classList.add( 'dark' );
			} else {
				document.body.classList.remove( 'dark' );
			}

			if ( toggler && isDarkMode ) {
				toggler.setAttribute( 'data-dark', 'true' );
				toggler.innerHTML = 'Turn dark mode OFF';
			}
		}

		DarkMode();
		</script>
	</body>
</html>
